#navBar{
    position: sticky;
    top: 0px;
    z-index: 1;
}
#footer {
    position: sticky;
    margin-top: auto;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    background-color: var(--light);
}
#content{
    height: auto;
    margin-bottom: 100px;
}
